@import 'config';

#reactWrapper {
    height: calc(100% - 67px);
}

/* Coding the colors for the background and foreground of the channel info
 * sections.
 */
.channelinfo-background {
    background: $lighterColor;
    height: 100%;
}

.channelinfo-foreground {
    box-shadow: -2px 0px 0px $darkColor, -2px 0px 2px $darkColor,
                 2px 0px 0px $darkColor,  2px 0px 2px $darkColor;
    background: #fff;
    height: 100%;
}
