$primaryColor: #6f9090;
$darkColor: darken($primaryColor, 5%);
$lightColor: lighten($primaryColor, 10%);
$lighterColor: lighten($primaryColor, 45%);

$counterColor: #906f6f;
$darkCounterColor: darken($counterColor, 5%);
$lightCounterColor: lighten($counterColor, 10%);
