@import 'config';

/* Styling the left and right panes specifically. */
#leftPane {
    padding: 0px 2px 0px 0px;
    height: calc(100% - 67px);
}

#rightPane {
    box-shadow: -2px 0px 0px $darkColor;
    height: calc(100% - 67px);
    background: #eeeeee;
}

/* Styling the portions of the app that have to deal with chat. As opposed to
   that of user-listing. */
.chatMessages {
}

.chatForm {
    background: $darkColor;
    padding: 4px;
    margin: 0px;
}

.chatInput {
    padding: 8px;
    border: none;
    height: 48px;
    width: 90%;
}

.chatButton {
    background: $lightColor;
    border-radius: 0px;
    border-style: none;
    height: 48px;
    color: #fff;
    width: 10%;
}
