@import 'config';

/* Styling the left and right panes specifically. */
#chatApp {
    height: calc(100% - 67px);
    padding: 0px;
    margin: 0px;
}

#leftPane {
    padding: 0px 2px 0px 0px;
    height: 100%;
}

#rightPane {
    box-shadow: -2px 0px 0px $darkColor;
    background: #eeeeee;
    padding: 0px;
    height: 100%;
}

/* Styling the portions of the app that have to deal with chat. As opposed to
   that of user-listing. */
.chat-messages {
    overflow-y: scroll;
    padding: 0px 2px;
    max-width: 100%;
}

.chat-message {
    padding: 2px;
    margin: 0px;
}

.chat-message-username {
    text-shadow: 0px 0px 1px $darkCounterColor;
    font-weight: bold;
    font-size: 16px;
    color: $counterColor;
}

.chat-message-text {
    font-size: 16px;
    max-width: 100%;
}

.chat-message-time {
    font-size: 10px;
    color: #888888;
}

.chat-form {
    background: $darkColor;
    padding: 4px;
    margin: 0px;
}

.chat-input {
    padding: 8px;
    border: none;
    height: 48px;
    width: 90%;
}

.chat-button {
    background: $lightColor;
    border-radius: 0px;
    border-style: none;
    height: 48px;
    color: #fff;
    width: 10%;
}

.user-list {
    overflow-y: scroll;
    height: 100%;
}

.user {
    margin: 1px;
}
