@import 'config';

/*
 * Styling the left and right panes specifically.
 */
#chatApp {
    height: calc(100% - 111px);
    padding: 0px;
    margin: 0px;
}

#leftPane {
    padding: 0px 2px 0px 0px;
    height: 100%;
}

#rightPane {
    box-shadow: -2px 0px 0px $darkColor;
    background: $lighterColor;
    padding: 0px;
    height: 100%;
}

/*
 * Styling the portions of the app that have to deal with chat. As opposed to
 * that of user-listing.
 */
.chat-messages {
    height: calc(100% - 56px);
    overflow-y: scroll;
    padding: 0px 2px;
    max-width: 100%;
}

.chat-message {
    padding: 3px;
    margin: 0px;
    box-shadow: 0px 1px 0px #333;
}

.chat-profile-container {
    display: inline-block;
    border-radius: 25px;
    margin-right: 4px;
    background: #eee;
    height: 50px;
    width: 50px;
}

.chat-profile-picture {
    border-radius: 25px;
    border-style: solid;
    border-color: #333;
    border-width: 2px;
    height: 50px;
    width: 50px;
}

.chat-colon {
    font-size: 30px;
    padding-right: 6px;
}

.chat-message-text {
    font-size: 16px;
    max-width: 100%;
}

.chat-message-time {
    font-size: 10px;
    color: #888888;
}

.chat-form {
    background: $darkColor;
    padding: 4px;
    height: 56px;
    margin: 0px;
}

.chat-input {
    padding: 8px;
    border: none;
    height: 48px;
    width: 90%;
}

.chat-button {
    background: $lightColor;
    border-radius: 0px;
    border-style: none;
    height: 48px;
    color: #fff;
    width: 10%;
}

/*
 * Styling the user list portion of the app.
 */
.user-list-row {
    box-shadow: 0px 1px #333;
    line-height: 30px;
    margin: 0px 8px;
    padding: 6px;
}

.user-list-picture {
    vertical-align: middle;
    display: inline-block;
    border-radius: 15px;
    border-style: solid;
    border-color: #333;
    border-width: 2px;
    height: 30px;
    width: 30px;
}

.user-list-username {
    vertical-align: middle;
    display: inline-block;
    padding-left: 8px;
    font-size: 20px;
    color: #333;

    &:hover {
        text-decoration: underline;
    }
}

.user-list {
    overflow-y: scroll;
    height: 100%;
}

.user {
    margin: 1px;
}

/*
 * Styling the chat tab portion of the app.
 */

.tab-element {
    box-shadow: 2px 0px 0px $primaryColor, -2px 0px 0px $primaryColor;
    background: $lightColor;
    padding: 13px 14px;
    margin: 0px 1px;
    color: #fff;

    &.selected {
        background: lighten($lightColor, 6%);
    }
}

.tab-element-settings {
    margin-right: 16px;
    color: #fff;

    &:visited { color: #fff; }
    &:active  { color: #fff; }
    &:hover   { color: #ddd; }
}

.tab-element-name {
    font-weight: bold;
}

.tab-element-close {
    font-weight: bold;
    margin-left: 16px;

    &:hover {
        cursor: pointer;
        color: #ddd;
    }
}

.tab-list {
    box-shadow: 0px 2px 0px $darkColor;
    background: $lighterColor;
    margin-bottom: 2px;
    height: 42px;
}

/* .tab-add-form */
$slideDuration: 0.25s;
$formWidth: 160px;

@include keyframes(expandLeft) { from { width: 0px;        } to { width: $formWidth; } }
@include keyframes(hideLeft)   { from { width: $formWidth; } to { width: 0px;        } }

.tab-add-form {
    display: inline-block;
    height: 100%;
    width: 0px;

    &.expanding {
        @include animation('expandLeft #{$slideDuration} ease-in 1 forwards');
        width: 0px;
    }

    &.hiding {
        @include animation('hideLeft #{$slideDuration} ease-in 1 forwards');
        width: 160px;
    }
}

/* .tab-add-input */
@include keyframes(paddingExpand) { from { padding: 0px 0px; } to { padding: 0px 8px; } }
@include keyframes(paddingHide)   { from { padding: 0px 8px; } to { padding: 0px 0px; } }

.tab-add-input {
    display: inline-block;
    border-width: 0px;
    padding: 0px 0px;
    margin: 0px 0px;
    height: 100%;
    width: 100%;

    &.expanding {
        @include animation('paddingExpand #{$slideDuration} ease-in 1 forwards');
        padding: 0px 0px;
    }

    &.hiding {
        @include animation('paddingHide #{$slideDuration} ease-in 1 forwards');
        padding: 0px 8px;
    }
}

.tab-add {
    box-shadow: 1px 0px 0px $lightColor, 1px 0px 1px $lightColor, -1px 0px 0px $lightColor;
    border-radius: 0px 10px 10px 0px;
    padding: 13px 16px;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        color: #666;
    }
}
