@import 'config';

/* Making the body section take up 100% of the screen such that one can position
 * different aspects of the screen in arbitrary places.
 */
html, body { height: 100%; }

/*
 * Generic fade in / fade out styles.
 */
@include keyframes(fadeIn)  { from { opacity: 0; } to { opacity: 1 } }
@include keyframes(fadeOut) { from { opacity: 1; } to { opacity: 0 } }

$fadeDuration: 0.08s;

.fade-in {
    @include animation('fadeIn #{$fadeDuration} ease-in 1 forwards');
    opacity: 0;
}

.fade-out {
    @include animation('fadeOut #{$fadeDuration} ease-in 1 forwards');
    opacity: 1;
}

/*
 * Vertical slide animations.
 */
@include keyframes(slideIn)  { from { height: 0px;   } to { height: 120px; } }
@include keyframes(slideOut) { from { height: 120px; } to { height: 0px;   } }

$slideDuration: 0.05s;

/*
 * Styling the top bar.
 */
.top-bar {
    box-shadow: 0px 2px 0px $darkColor, 0px 2px 2px $darkColor;
    background: linear-gradient($lightColor, $primaryColor);
    margin-bottom: 2px;
    height: 65px;
    z-index: 2;
}

a.top-bar-text {
    margin: 0px 10px;
    font-size: 36px;
    color: #fff;
}

a.top-bar-text.secondary {
    font-size: 28px;
    color: #eee;
}

/*
 * Toggling the top bar on and off.
 */
#toggleButton {
    box-shadow: 0px 1px 1px $darkColor;
    background: $lighterColor;
    border-color: $darkColor;
    display: inline-block;
    border-style: solid;
    border-radius: 8px;
    margin-right: 14px;
    position: absolute;
    margin-top: 18px;
    height: 30px;
    float: right;
    width: 30px;
    right: 0px;
    top: 0px;
}

@media (max-width: 540px) {
    #toggleBar {
        box-shadow: 0px 2px 0px $darkColor, 0px 2px 2px $darkColor;
        background: $primaryColor;
        position: absolute;
        width: 100%;
        height: 0px;
        z-index: 1;
        left: 0px;
        top: 65px;

        & *           { display: none; }
        &.toggle-on * { display: block; }

        &.toggle-on {
            @include animation('slideIn #{$slideDuration} ease-in 1 forwards');
            height: auto;
        }

        &.toggle-off {
            @include animation('slideOut #{$slideDuration} ease-in 1 forwards');
            height: 120px;
        }
    }

    a.top-bar-text.secondary {
        box-shadow: 0px 1px 0px $darkColor;
        width: calc(100% - 20px);
        display: block;
    }
}

@media (min-width: 540px) {
    #toggleButton {
        display: none;
    }
}

/*
 * Generic styles to be shared across a bunch of pages.
 */
.max-height {
    height: 100%;
}

/*
 * Styling window-wide overlay form.
 */
.overlay-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0px;
    top: 0px;
}

.overlay-background {
    position: absolute;
    background: #333;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.overlay-form-container {
    margin-left: calc(50% - (400px / 2));
    padding: 12px 64px 24px 32px;
    position: absolute;
    border-radius: 8px;
    background: #fff;
    margin-top: 10%;
    width: 400px;
    z-index: 2;
}

.overlay-form {
    padding-left: 32px;
}
