@import 'config';

/* Making the body section take up 100% of the screen such that one can position
 * different aspects of the screen in arbitrary places.
 */
html, body { height: 100%; }

/*
 * Generic fade in / fade out styles.
 */
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes    fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes         fadeIn { from { opacity: 0; } to { opacity: 1; } }

@-webkit-keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }
@-moz-keyframes    fadeOut { from { opacity: 1; } to { opacity: 0; } }
@keyframes         fadeOut { from { opacity: 1; } to { opacity: 0; } }

$fadeDuration: 0.08s;

@mixin fade-animation($animationName) {
    -webkit-animation: $animationName ease-in 1;
    -moz-animation: $animationName ease-in 1;
    animation: $animationName ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: $fadeDuration;
    -moz-animation-duration: $fadeDuration;
    animation-duration: $fadeDuration;
}

.fade-in {
    @include fade-animation(fadeIn);
    opacity: 0;
}

.fade-out {
    @include fade-animation(fadeOut);
    opacity: 1;
}

/*
 * Styling the top bar.
 */
.top-bar {
    box-shadow: 0px 2px 0px $darkColor, 0px 2px 2px $darkColor;
    background: linear-gradient($lightColor, $primaryColor);
    margin-bottom: 2px;
    height: 65px;
}

a.top-bar-text {
    margin: 0px 10px 0px 10px;
    font-size: 36px;
    color: #fff;
}

a.top-bar-text.secondary {
    font-size: 28px;
    color: #eee;
}

/*
 * Toggling the top bar on and off.
 */
#toggleButton {
    box-shadow: 0px 1px 1px $darkColor;
    background: $lighterColor;
    border-color: $darkColor;
    display: inline-block;
    border-style: solid;
    border-radius: 8px;
    margin-right: 14px;
    position: absolute;
    margin-top: 18px;
    height: 30px;
    float: right;
    width: 30px;
    right: 0px;
    top: 0px;
}

@media (max-width: 540px) {
    #toggleBar {
        box-shadow: 0px 2px 0px $darkColor, 0px 2px 2px $darkColor;
        background: $primaryColor;
        position: relative;
        margin-top: 14px;
        display: none;
        width: 100%;
        z-index: 1;

        &.toggle-on {
            display: block;
        }

        &.toggle-off { }
    }

    a.top-bar-text.secondary {
        box-shadow: 0px 1px 0px $darkColor;
        display: block;
        width: 100%;
    }
}

@media (min-width: 540px) {
    #toggleButton {
        display: none;
    }
}

/*
 * Generic styles to be shared across a bunch of pages.
 */
.max-height {
    height: 100%;
}

/*
 * Styling window-wide overlay form.
 */
.overlay-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0px;
    top: 0px;
}

.overlay-background {
    position: absolute;
    background: #333;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.overlay-form-container {
    margin-left: calc(50% - (400px / 2));
    padding: 12px 64px 24px 32px;
    position: absolute;
    border-radius: 8px;
    background: #fff;
    margin-top: 10%;
    width: 400px;
    z-index: 2;
}

.overlay-form {
    padding-left: 32px;
}
