@import 'config';

/* Making the body section take up 100% of the screen such that one can position
   different aspects of the screen in arbitrary places. */
html, body { height: 100%; }

.top-bar {
    box-shadow: 0px 2px 0px $darkColor, 0px 2px 2px $darkColor;
    background: linear-gradient($lightColor, $primaryColor);
    margin-bottom: 2px;
    padding: 10px;
    height: 65px;
}

a.top-bar-text {
    margin: 0px 10px 0px 10px;
    font-size: 36px;
    color: #fff;
}

a.top-bar-text.secondary {
    font-size: 28px;
    color: #eee;
}
