extends ./wrapper.jade

block css
    link(rel='stylesheet' href='/static/css/404.css')

block content
    h1.big.text-center Error 404
    h1.text-center Page Not Found
    h4.text-center
        small
            a(href='/') Go home?
