extends ./wrapper.jade

block css
    link(rel='stylesheet' href='/static/css/channelmanager.css')

block js
    script(type='application/javascript' src='/static/js/channelmanager.js')

block content
    #reactWrapper
