extends ./wrapper.jade

block css
    link(rel='stylesheet' href='/static/css/index.css')
        
block js
    script(type='application/javascript' src='/socket.io/socket.io.js')
    script(type='application/javascript' src='/static/js/index.js')

block content
    div.left-pane.col-xs-12.col-sm-8.col-md-8.col-lg-10
        #chatApp
    div.right-pane.col-xs-12.col-sm-4.col-md-4.col-lg-2
        #userListApp
