extends ./wrapper.jade

block css
    link(rel='stylesheet' href='/static/css/index.css')
    
block title
    title Chatterbox - Index

block content
    div(class='left-pane col-xs-12 col-sm-8 col-md-8 col-lg-10')
        h1 Left side
    div(class='right-pane col-xs-12 col-sm-4 col-md-4 col-lg-2')
        h1 Right side
