extends ./wrapper.jade

block css
    link(rel='stylesheet' href='/static/css/profile.css')
        
block js
    script(type='application/javascript' src='/static/js/profile.js')
        
block content
    #profileApp
